.burger {
    position: relative;
    width: 30px;
    height: 3px;
    margin: 20px;
    border: 1px solid #333333;
    &::after {
        content: '';
        position: absolute;
        left: -1px;
        top: 5px;
        width: 30px;
        height: 3px;
        border: 1px solid #333333;
    }
    &::before { 
        content: '';
        position: absolute;
        left: -1px;
        top: 10px;
        width: 30px;
        height: 3px;
        border: 1px solid #333333;
    }
}