.hints {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/Sky.png');
    background-position: center;
    background-size: cover;
}